a{
    font-size: 1.2rem;
    color: white !important;
    flex:1
}
.wrapper-image{
    flex:0.5;
    img {
        width: 8.5rem;
        height: auto;
      }
    
}
.mat-toolbar{
    background-color: #22242E;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}