<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Comunicados</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>ID_Comunicado</mat-label>
          <input matInput placeholder="Id" formControlName="idComunicado" />
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Titulo</mat-label>
          <input
            matInput
            placeholder="Titulo"
            formControlName="titulo"
          />
          <mat-error
            *ngIf="obtenerControlCampo('titulo')?.errors?.['required']">
            El titulo es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input
              matInput
              placeholder="Descripcion"
              formControlName="descripcion"
            />
            <mat-error
              *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']">
              La Descripcion es obligatoria.
            </mat-error>
          </mat-form-field>
          <br/>

        <mat-form-field appearance="fill" class="example-full-width">
          <input
            matInput
            placeholder="Ingrese fecha"
            [matDatepicker]="picker"
            formControlName="fechaCreacion"
            [max]="maxFecha"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker">
        </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="obtenerControlCampo('fechaCreacion')?.errors?.['required']">
            La fecha de creación es obligatoria
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="usuario">
            <mat-option
              *ngFor="let u of listausuarios"
              [value]="u.idUsuario">
              {{ u.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">
            El usuario es obligatorio
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Area de Trabajo</mat-label>
            <mat-select formControlName="areadetrabajo">
              <mat-option
                *ngFor="let at of listatrabajos"
                [value]="at.idAreaDeTrabajo">
                {{ at.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('areadetrabajo')?.errors?.['required']">
              El Area de Trabajo es obligatorio
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field>
            <mat-label>Grupo de Proyecto</mat-label>
            <mat-select formControlName="GrupoDeProyecto">
              <mat-option
                *ngFor="let gp of listagrupos"
                [value]="gp.idGrupoDeProyecto">
                {{ gp.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('GrupoDeProyecto')?.errors?.['required']">
              El Grupo de Proyecto es obligatorio
            </mat-error>
          </mat-form-field>
          <br/>

        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/comunicados">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>