<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container" style="text-align: center">
        <h1>Registro de Miembro En Grupo</h1>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>id</mat-label>
            <input matInput placeholder="Id" formControlName="idMiembroEnGrupo" readonly=""/>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="miembroDeArea"
              formControlName="miembrodearea"
            />
            <mat-error
              *ngIf="obtenerControlCampo('miembroDeArea')?.errors?.['required']"
            >
              La nombre del miembro de area es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Grupo de proyecto</mat-label>
            <input
              matInput
              placeholder="grupoDeProyecto"
              formControlName="grupodeproyecto"
            />
            <mat-error
              *ngIf="obtenerControlCampo('grupoDeProyecto')?.errors?.['required']"
            >
              El grupo de proyecto es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <div class="buttons">
              <button mat-raised-button color="accent">Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/miembroEnGrupo">
                Cancelar
              </button>
          </div>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>

