

<div class="container vh-100  d-flex  align-items-center justify-content-center">
    <div class="wrapped h-100 w-100 d-flex  align-items-center justify-content-around animate__animated animate__fadeIn animate__faster" style="max-width: 1000px;">
        <div class="h-100 flex-1 d-flex flex-column align-items-center justify-content-center" style="background-color: #9F5454;width: 50px; height: 100%;
        width: 65%;
        margin-right: 100px;
        margin-left: -610px;">
            <img src="../../../assets/images/Logo.png" alt="image-logo" style="height: 100px; margin-top: 50px;">
            <h4 class="text-break ps-4 text-light" style="font-size: 32px;  font-family: 'Roboto Slab';
             padding: 180px 5px; line-height: 45px; margin: 156px; margin-top: -5px;">Descubre el mundo de la productividad para mejorar tu rutina laboral</h4>
            <img src="../../../assets/images/Person.png" alt="image-person" style="height: 200px; margin-top:  -150px;">
        </div>
            <div class="h-50 flex-2" style="margin-right: -200px;">
                <h1 class="text-center fs-3 mb-3 animate__animated animate__fadeIn animate__fast"
                style="font-size: 42px;  font-family: 'Roboto Slab';">Iniciar sesión en Redcorp</h1>
                <form  (ngSubmit)="onLogin()" style="margin-top: 120px;">
                    <div class="mb-3 animate__animated animate__fadeIn animate__fast" style="font-size: 19px;  font-family: 'Roboto Slab'">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <input name="nombreUsuario" [(ngModel)]="nombreUsuario" type="text" class="form-control rounded-pill" id="exampleInputEmail1" 
                      style="font-family: 'Roboto Slab';
                      width: 500px;
                      font-size: 16px;
                      background-color: aliceblue;
                      padding: 20px 5px;
                      padding-left: 20px;
                        border: none;
                        border-radius: 100px;
                        box-sizing: border-box;">
                    </div>
                    <div class="mb-3 animate__animated animate__fadeIn animate__fast" style="font-size: 19px;  font-family: 'Roboto Slab'; padding-top: 40px;
                    padding-bottom: 40px;">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input name="password" [(ngModel)]="password" type="password" class="form-control rounded-pill" id="exampleInputPassword1"
                      style="font-family: 'Roboto Slab';
                      width: 500px;
                      font-size: 16px;
                      background-color: aliceblue;
                      padding: 18px 5px;
                      padding-left: 20px;
                        border: none;
                        border-radius: 100px;
                        box-sizing: border-box;">
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill d-block m-auto animate__animated animate__fadeIn animate__fast background"
                    style=" width: 35%;
                     height: 50px;
                    font-family: 'Roboto Condensed';
                    font-size: 18px;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #C9725B;
                    border-radius: 100px; ">Iniciar Sesion</button>
                </form>
            </div>
    </div>

    
</div>